<%= link_to 'Editar', edit_movie_path %>
<%= link_to 'Remover Filme', movie_path(@movie), data: { turbo_method: :delete, turbo_confirm: 'Deseja realmente remover o filme? ' } %>



<h1>
  Informações do filme: <%= @movie.title %>
</h1>


<dl>
    <dt>
      <strong>Título: </strong> <%= @movie.title %>
    </dt>

    <dd>
      <strong>Ano de Lançamento: </strong> <%= @movie.release_year %>
    </dd>

    <dd>
      <strong>País de Origem: </strong> <%= @movie.country_of_origin %>
    </dd>

    <dd>
      <strong>Duração: </strong> <%= @movie.duration %> minutos
    </dd>

    <dd>
      <strong>Diretor: </strong> <%= @movie.director.name %>
    </dd>

    <dd>
      <strong>Gênero: </strong> <%= @movie.gender.description %>
    </dd>

    <dd>
      <strong>Sinopse: </strong> <%= @movie.synopsis %>
    </dd>
</dl>
